<!DOCTYPE HTML>

<html>

<head>
	<title>Hostel Management</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/skel-panels.min.js"></script>
	<script src="js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="css/skel-noscript.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/style-desktop.css" />
	</noscript>
</head>

<body class="homepage">

	<!-- Header -->
	<div id="header" style="padding-bottom: 270px;">
		<div id="nav-wrapper">
			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="active"> 
                    <a href="../"> Home </a>
                    </li>
                    <li>
					<a href="studentRegistration.html">Request hostel</a>
                    </li>
                    <li>
					<a href="student_complaint.html">Complaint form</a>
					</li>

					<li><a href="student_remove.html">Retrieve from hostel</a></li>

					<li><a href="attendance.html">Check attendance</a></li>
				</ul>
			</nav>
		</div>
		<div class="container">

			<!-- Logo -->
			<div id="logo">
				<h3><a href="#" style="font-size: 50px;">{{message}}</a></h3>
				<span class="tag"></span>
			</div>
			<div >
				<!-- yudwebdbewudbuewbdbewdewbubdiuewbduewbduewudbew -->
			</div>
		</div>
	</div>
	

	<!-- Footer -->
	<div id="footer">
		<div class="container">
			<section>
				<header>
					<h2>Get in touch</h2>
					<span class="byline"></span>
				</header>
				<ul class="contact">
					<li>+91 9500777360
					</li>
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
					<li><a href="#" class="fa fa-tumblr"><span>Google+</span></a></li>
				</ul>
			</section>
		</div>
	</div>


</body>

</html>